# Tencent COS Configuration
OSS_TENCENT_ACCESS_KEY=
OSS_TENCENT_SECRET_KEY=
OSS_TENCENT_REGION=
OSS_TENCENT_BUCKET=
# OSS_TENCENT_TOKEN=your-sts-token (optional)
# OSS_TENCENT_ENDPOINT=https://your-bucket-name-1234567890.cos.ap-guangzhou.myqcloud.com (optional)