# Tencent COS Configuration
OSS_TENCENT_ACCESS_KEY=your-access-key
OSS_TENCENT_SECRET_KEY=your-secret-key
OSS_TENCENT_REGION=ap-guangzhou
OSS_TENCENT_BUCKET=your-bucket-name
# OSS_TENCENT_TOKEN=your-sts-token (optional)
# OSS_TENCENT_ENDPOINT=https://your-bucket-name-1234567890.cos.ap-guangzhou.myqcloud.com (optional)